In [1]:
import pandas

In [7]:
df = pandas.read_csv('test.csv', header=None)
df

     0         1
0    0  0.000000
1    1  0.285714
2    2  0.666667
3    3  1.333333
4    4  1.666667
5    5  1.555556
6    6  1.000000
7    7  0.777778
8    8  0.777778
9    9  1.000000
10  10  0.666667
11  11  0.444444
12  12  0.250000
13  13  0.500000

In [15]:
x = df[0].to_list()
y = df[1].to_list()
def objective(x, a, b, c):
    return a * x + b